
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:description" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image"
          content=""/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1024"/>
    <meta property="og:image:height" content="683"/>
    <meta property="og:title" content="LXI Legislatura del Estado de México | "/>
    <title>
     
    </title>

    <link rel="icon" type="image/png" href="favicon.svg">
    <link href="../../../assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/css/waterfall.css" rel="stylesheet" type="text/css">

    <script src="https://kit.fontawesome.com/e6414ed8fa.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="">

    <script src=""></script>
    <script type="text/javascript">
        $(document).on("scroll", function () {
            if ($(document).scrollTop() > 50) {
                $("header").removeClass("large").addClass("small");
            } else {
                $("header").removeClass("small").addClass("large");
            }
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZR9SNPK8WJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-ZR9SNPK8WJ');
    </script>
</head>

<body>
<div align="center">
    <header class="large">
        <!-- MENU RESPONSIVO --->
        <div id="responsive">
            <nav>

                <div id="salto_menu"></div>
                <ul class="topnav">
   
                    <li><a href="pages/secretaria">Quiénes somos</a></li>
    
                    <li><a href="pages/diputadasydiputados">Diputadas/os</a></li>
                    <li><a href="pages/distritos">Por principio de elección</a></li>
                    <li>
                        <a [routerLink]="['/pages/comision',1]">Directiva</a>
                    </li>
                    <li><a href="">Grupos Parlamentarios</a></li>
                    <li><a
                            href="">Junta de
                            Coordinación Política</a></li>
                    <li><a href="pages/comisiones">Comisiones y Comités</a></li>
    
                    <li class="icon"><a href="javascript:void(0);" style="font-size:1.3em;"
                                        onClick="myFunction()">&#9776;</a></li>
                    <li><a href="">Sesiones, orden del día, asistencia, acta y versión</a></li>
                    <li><a href="">Iniciativas de ley o decreto</a></li>
                    <li><a href="">Puntos de Acuerdo</a></li>
                    <li><a href="">Minutas</a></li>
                    <li><a href="">Decretos y Votaciones</a></li>
                    <li><a href="">Acuerdos y Votaciones</a></li>
                    <li><a href="">Reuniones en general</a></li>
                    <li><a href="">Por comisión</a></li>
                    <li><a href="">Diario de Debates</a></li>
                    <li><a href="">Gaceta Parlamentaria</a></li>
                </ul>
            </nav>
           
        </div>
        <!-- FIN MENU RESPONSIVO --->
    
        <!-- MENU DESPLEGABLE --->
        <div id="scrolldown">
            <nav style="width:95%; margin-top:0px;">
                <a href=""><div style="float: left; display: block;"><img  src="../../assets/aparlamentarios/img/asuntos_parlamentarios.svg" class="logo"></div>
                </a>
                <div style="clear: both;"></div>
                <ul class="menu">
                    <li class="menu"><a href="pages/secretaria">Quiénes somos</a></li>
                    <li class="menu"><a>Legislatura y Órganos &#9662;</a>
                        <ul class="dropdown">
                            <li class="menu"><a href="pages/diputadasydiputados">Diputadas/os</a></li>
                            <li><a href="pages/distritos">Por principio de elección</a></li>
                            <li><a [routerLink]="['/pages/comision',1]">Directiva</a></li>
                            <li><a href="">Grupos Parlamentarios</a></li>
                            
                            <li class="menu"><a [routerLink]="['/pages/comision',2]">Junta de Coordinación Política</a></li>
                            <li><a href="pages/comisiones">Comisiones y Comités</a></li>
                        </ul>
                    </li>
    
                    <li class="menu"><a href="#">Trabajo Legislativo &#9662;</a>
                        <ul class="dropdown">
                          
                            <li class="menu"><a href="">Sesiones, orden del día, asistencia, acta y versión</a></li>
                            <li class="menu"><a href="">Iniciativas de ley o decreto</a></li>
                            <li class="menu"><a href="">Puntos de Acuerdo</a></li>
                            <li class="menu"><a href="">Minutas</a></li>
                            <li class="menu"><a href="">Decretos y Votaciones</a></li>
                            <li class="menu"><a href="">Acuerdos y Votaciones</a></li>
                           
                        </ul>
                    </li>
                    <li class="menu"><a href="#">Trabajo de comisiones &#9662;</a>
                        <ul class="dropdown">
                            <li><a href="">Reuniones en general</a></li>
                            <li><a href="">Por comisión</a></li>
                        </ul>
                    </li>
                    <li class="menu"><a href="#">Organos de Difusión &#9662;</a>
                        <ul class="dropdown">
                            <li><a href="">Diario de Debates</a></li>
                            <li><a href="">Gaceta Parlamentaria</a></li>
                        </ul>
                    </li>
   
                </ul>
            </nav>
        </div>
        <!-- FIN MENU DESPLEGABLE --->
    </header>
        <div id="contenido">
            <div id="contenido_left">
                <router-outlet/>
            </div>
        </div>
       
</div>
<div style="clear: both; height: 80px;"></div>

<div id="footer">

    <div style="float:left; width:95%; max-width:420px; margin:0px 5% 30px 0px;">
        <!--<img src="img/congreso_edomex_grayscale.svg" style="height: 85px;">-->
        <h2 class="footer">Poder Legislativo del Estado de México</h2>
        <p>Plaza Hidalgo s/n, Col. Centro<br>Toluca de Lerdo, Estado de México<br>Conmutador (722)
            279-6400<br>&copy; 
            <br><a href="avisosdeprivacidad">Avisos de privacidad</a></p>
        <!--<a href="/documentos/directorio/202103_directorio.pdf" target="_blank" title="Directorio telefónico">Directorio telefónico</a>-->
        <!--<button onclick="window.open('/documentos/directorio/202107_directorio.pdf')">Directorio telefónico</button>-->
    </div>

    <!--
    <div style="float:left; width:95%; max-width:250px; margin:0px 5% 0px 0px;">
        <h2 class="footer">Acerca de</h2>
        <a class="footer" href="legislacion">Legislación vigente</a><br>
        <a class="footer" href="dependencias">Dependencias</a>
        <h2 class="footer">Diputadas/os</h2>
        <a class="footer" href="diputados">Directorio</a><br>
        <a class="footer" href="comision-1">Junta de Coordinación Política</a><br>
        <a class="footer" href="comision-2">Mesa Directiva</a><br>
        <a class="footer" href="comisiones">Comisiones y Comités</a>
        <h2 class="footer">Trabajo Legislativo</h2>
        <a class="footer" href="iniciativas">Iniciativas</a><br>
        <a class="footer" href="gaceta">Gaceta Parlamentaria</a><br>
    </div>

    <div style="float:left; width:95%; max-width:250px; margin:0px 5% 0px 0px;">
        <h2 class="footer">Noticias</h2>
        <a class="footer" href="prensa">Comunicados</a><br>
        <a class="footer" href="galeria">Galería</a><br>
        <a class="footer" href="dialogopublico">Revista "Diálogo Público"</a>
        <h2 class="footer">Transparencia</h2>
        <a class="footer" href="http://www.cddiputados.gob.mx/transparencia/">Unidad de Información</a><br>
    </div>
    -->

    <div id="socialbox">
        <p>Síguenos en redes sociales:</p>
        <div class="social"><a href="http://fb.me/legismex" target="_blank" title="Facebook" class="social"><i
                    class="fab fa-facebook"></i></a></div>
        <div class="social"><a href="http://twitter.com/legismex" target="_blank" title="Twitter" class="social"><i
                    class="fab fa-twitter"></i></a></div>
        <div class="social"><a href="http://instagram.com/legismex" target="_blank" title="Instagram"
                               class="social"><i class="fab fa-instagram"></i></a></div>
        <div class="social"><a href="https://www.youtube.com/channel/UC9kqSF0ZBUhSRp4cyWL_oAA" target="_blank" title="YouTube"
                               class="social"><i class="fab fa-youtube"></i></a></div>
    </div>

    <div style="clear:both"></div>
</div>


</body>
</html>
