body{ margin: 0; }

h1{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:2.1em; font-weight: 700; }
h2{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1.8em; font-weight: 700; }
 p{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1.2em; font-weight: 300; }

a:link, a:active, a:visited{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1.2em; font-weight: 300; color: rgb(128,0,72); }
a:hover{color: rgb(150,0,72);}

.tema{width: 100%; max-width: 150px; float: left; margin: 25px; text-align: center; display: block;}

 .section_grey{background:linear-gradient( 40deg, rgb(103,105,109,1.00) 0%, rgb(163,165,169,1.00) 100% ); padding: 250px 10px; box-sizing: border-box;}
.section_white{background: rgb(255,255,255); padding: 250px 10px; box-sizing: border-box;}
 .section_wine{background:linear-gradient( 40deg, rgb(150,0,72,1.00) 0%, rgb(64,0,36,1.00) 100% ); padding: 250px 10px; box-sizing: border-box;}

/* HEADER CHANGING */
header{width:100%; position:fixed; z-index:10; margin:0px;}

header.large{height:450px; background: url(../img/bkgd.jpg); background-size: cover; transition:1.5s; box-shadow: rgba(0,0,0,0.65) 3px 3px 8px;}
header.large img.logo{height:350px; margin: 50px auto; transition:1.2s;}
header.large img.lx{height:85px; margin: auto; transition:1.8s;}

header.small{height:135px; background: url(../img/bkgd.jpg); background-size: cover; transition:1.5s; box-shadow:rgba(0,0,0,0.5) 0px 0px 5px; }
header.small img.logo{height:135px; transition:1.2s;}
header.small img.lx{mheight:50px; transition:0.8s;}

@media screen and (max-width:800px) {
	#responsive{ display:block; }
	#scrolldown{ display:none; }

	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li{display: none;}
	ul.topnav li.icon {float:right; display: inline-block;}

	header.large{height:100px;}
	header.large ul.topnav{list-style-type:none; padding:0px; margin-top:0px; overflow:hidden; z-index:1000; float: right; width:165px;}

	header.small{height:60px;}
	header.small ul.topnav{list-style-type:none; padding:0px; margin-top:0px; overflow:hidden; z-index:1000; float: right; width:165px;}

	ul.topnav.responsive{position:relative; background:#FFF;}
	ul.topnav.responsive li.icon{position: absolute; right:0; top:0;}
	ul.topnav.responsive li{float: none; display: inline; font-size:1em;}
	ul.topnav.responsive li a{display: block; text-align:left; background:rgba(255,255,255,1.00); margin:5px; }
	ul.topnav.responsive li a:hover{background:rgba(255,255,255,1.00); border:#000 solid 1px; }
}

@media screen and (max-width:670px) {
	#contenido{padding-top:60px;}

	#section{width: 100%; padding: 80px 0px;}
	#box_buscador{background: rgba(0,0,0,0.35); padding: 20px 40px; border-radius: 50px; width: 80%; max-width: 560px; margin: 150px auto;}
	#input_buscador{float: left; width: 100%; max-width: 250px; border-radius: 25px; padding: 12px; font-size: 1.3em;}
	#boton_buscador{float: right; border-radius: 30px; font-size: 1.3em; padding: 15px 25px;}

	#streaming_desktop {display:none;}
	#streaming_mobile {display:block;}

	header.large{height:80px; background:rgba(255,255,255,1); transition:1.2s; box-shadow: rgba(0,0,0,0.65) 3px 3px 5px;}
	header.large img.logo{margin:0px; float: left; height:80px; transition:1.2s;}

	header.small{height:60px; background:rgba(255,255,255,1); transition:1.2s; box-shadow: rgba(0,0,0,0.65) 3px 3px 5px;}
	header.small img.logo{margin:0px; float: left; height:60px; transition:1.2s;}
}

@media screen and (max-width:670px) {
	#contenido{padding-top:60px;}

	#section{width: 100%; padding: 80px 0px;}
	#box_buscador{background: rgba(0,0,0,0.35); padding: 10px 20px; border-radius: 40px; width: 320px; margin: 130px auto;}
	#input_buscador{float: left; width: 100%; max-width: 210px; border-radius: 25px; padding: 7px; font-size: 1.3em;}
	#boton_buscador{float: right; border-radius: 30px; font-size: 1.2em; padding: 15px;}

	#streaming_desktop {display:none;}
	#streaming_mobile {display:block;}

	header.large{height:80px; background:rgba(255,255,255,1); transition:1.2s; box-shadow: rgba(0,0,0,0.65) 3px 3px 5px;}
	header.large img.logo{margin:0px; float: left; height:80px; transition:1.2s;}

	header.small{height:60px; background:rgba(255,255,255,1); transition:1.2s; box-shadow: rgba(0,0,0,0.65) 3px 3px 5px;}
	header.small img.logo{margin:0px; float: left; height:60px; transition:1.2s;}
}
