.grid {
    position: relative;
    /*margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;*/
	margin: 0px;
	padding: 0px;
    list-style: none;
    text-align: center;
	float: left;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 5px;
    width: 100%;
	min-width: 360px;
    max-width: 360px;
    max-height: 200px;
    background: rgba(0,0,0,1.00);
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
	width: 100%;
    max-width: 380px;
    opacity: 0.65;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    /*text-transform: uppercase;*/
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	max-width: 278px;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0.8;
}

.grid figure h2 {
    /*word-spacing: -0.15em;*/
	font-family: 'Arimo', sans-serif;
	font-size: 1.2em;
    font-weight: 700;
}

.grid figure h2 span {
    font-weight: 700;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(150,0,72,0.5) 0%, rgba(100,0,48,1.0) 100%);
    background: linear-gradient(to bottom, rgba(150,0,72,0.35) 0%, rgba(100,0,48,1.00) 100%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
	max-width: 340px;
    color: #FFF;
	opacity: 1.0;
	font-size: 0.8em;
	text-shadow: rgba(0,0,0,0.3) 2px 2px 2px;
	margin: 10px;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
	opacity: 1.0;
	font-size: 1.2em;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


@media screen and (max-width:670px) {

	.grid figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 5px;
		width: 100%;
		min-width: 340px;
		max-width: 340px;
		max-height: 180px;
		background: rgba(0,0,0,1.00);
		text-align: center;
		cursor: pointer;
	}
	
	.grid figure img {
		position: relative;
		display: block;
		min-height: 100%;
		width: 100%;
		max-width: 340px;
		opacity: 0.65;
	}

}