<div id="contenido_left">
    <h1>Quiénes somos</h1>
    <p>La actual Secretaría de Asuntos Parlamentrios se denominó originalmente Oficialía Mayor. desde el momento
        en que se conformó el Congreso Constituyente de 1824, tenía encomendadas actividades de carácter
        administrativo; temas de escribanos y taquígrafos.</p>
    <p>Desempeñó funciones que principalmente fueron administrativas, hasta el año de 1983, en que se le
        reserva, con carácter exclusivo, la atención jurídica del Poder Legislativo.</p>
    <p>En el mes de septiembre de 2003, por disposición del decreto 171 por el que se reforman y adicionan y
        derogan diversas disposiciones de la Ley Orgánica y del Regmaneto del Poder legislativo del estado de
        México, se modificó la denominación de Oficialía Mayor para ser Secretaría de Asuntos
        Parlamentarios.</p>
    <div
        style="background:linear-gradient( 40deg, rgb(32,0,18,1.00) 0%, rgb(150,0,72,1.00) 100% ); padding: 20px;width: 80%; border-radius: 10px; margin: 15px auto;">
        <h2 style="color: white;">Misión</h2>
        <p style="color: white;">Proveer, en lo que a ella compete, lo necesario para un trabajo legislativo
            eficiente; y con ello permitir que las Asambleas cumplan con su cometido de hacer leyes de
            calidad.</p>
    </div>
    <div
        style="background:linear-gradient( 40deg, rgb(32,0,18,1.00) 0%, rgb(150,0,72,1.00) 100% ); padding: 20px;width: 80%; border-radius: 10px; margin: 15px auto;">
        <h2 style="color: white;">Visión</h2>
        <p style="color: white;">Constituirse en una Dependencia eficaz que permita al Poder Legislativo en su
            conjunto, a sus &oacute;rganos y a las Diputadas y Diputados en lo particular, seguir cumpliendo con
            los deberes de su encargo, dotando a la sociedad mexiquense de un marco jur&iacute;dico acorde a la
            din&aacute;mica propia de nuestra Entidad.</p>
    </div>
    <div style="clear: both"></div>



<!-- LATERAL -->
<a href="https://administracionyfinanzasplem.gob.mx/directorio/externo/buscador" target="_blank">
    <div
        style="width: 90%; max-width: 280px; float: left; margin:5px 20px 5px 50px; display: block; text-align: left;">
        <div
            style="width: 100%; background: linear-gradient( 40deg, rgb(250,250,250,1.00) 0%, rgb(225,225,225,1.00) 100% ); border-bottom: rgb(128,0,72) solid 5px; padding: 10px 10px 10px 25px; margin: 10px auto; ">
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.3em; font-weight: 500; color: rgba(135,0,65,1.00);">
                Directorio telefónico</p>
        </div>
    </div>
</a>





<a href="" target="_blank">
    <div
        style="width: 90%; max-width: 280px; float: left; margin:5px 20px 5px 50px; display: block; text-align: left;">
        <div
            style="width: 100%; background: linear-gradient( 40deg, rgb(250,250,250,1.00) 0%, rgb(225,225,225,1.00) 100% ); border-bottom: rgb(128,0,72) solid 5px; padding: 10px 10px 10px 25px; margin: 10px auto; ">
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.3em; font-weight: 500; color: rgba(135,0,65,1.00);">
                Manual General de Organización</p>
        </div>
    </div>
</a>

<a href="" target="_blank">
    <div
        style="width: 90%; max-width: 280px; float: left; margin:5px 20px 5px 50px; display: block; text-align: justify;">
        <div
            style="width: 100%; background: linear-gradient( 40deg, rgb(250,250,250,1.00) 0%, rgb(225,225,225,1.00) 100% ); border-bottom: rgb(128,0,72) solid 5px; padding: 10px 10px 10px 25px; margin: 10px auto; ">
            <p style="font-family: 'Roboto', sans-serif; font-size: 1.3em; font-weight: 500; color: rgba(135,0,65,1.00);">
                Legislaturas anteriores</p>
        </div>
    </div>
</a>
</div>
