<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="">
    <meta name="description" content="Plaza Hidalgo s/n, Centro, 50000 Toluca de Lerdo, Méx.">
    <meta property="og:description" content="Plaza Hidalgo s/n, Centro, 50000 Toluca de Lerdo, Méx."/>
    <meta property="og:url" content="http://www.legislativoedomex.gob.mx"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content=""/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content=""/>
    <meta property="og:image:height" content=""/>
    <meta property="og:title" content="LXI Legislatura del Estado de México"/>

    <link rel="icon" type="image/png" href="favicon.svg">
    <link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/menu_home.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/grid.css" rel="stylesheet" type="text/css">

    <title>LXI Legislatura del Estado de México</title>

    <script src="https://kit.fontawesome.com/e6414ed8fa.js" crossorigin="anonymous"></script>

   

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
       
    </script>
</head>

<body style="background:linear-gradient( 40deg, rgb(32,0,18,1.00) 0%, rgb(150,0,72,1.00) 100% );">
    <div align="center">
    <header class="large">
        <!-- MENU RESPONSIVO --->
        <div id="responsive">
            <nav>

                <div id="salto_menu"></div>
                <ul class="topnav">
   
                    <li><a href="">Quiénes somos</a></li>
    
                    <li><a href="">Diputadas/os</a></li>
                    <li><a href="">Por principio de elección</a></li>
                    <li>
                        <a href="">Directiva</a>
                    </li>
                    <li><a href="">Grupos Parlamentarios</a></li>
                    <li><a
                            href="">Junta de
                            Coordinación Política</a></li>
                    <li><a href="">Comisiones y Comités</a></li>
    
                    <li class="icon"><a href="javascript:void(0);" style="font-size:1.3em;"
                                        onClick="myFunction()">&#9776;</a></li>
                    <li><a href="">Sesiones, orden del día, asistencia, acta y versión</a></li>
                    <li><a href="">Iniciativas de ley o decreto</a></li>
                    <li><a href="">Puntos de Acuerdo</a></li>
                    <li><a href="">Minutas</a></li>
                    <li><a href="">Decretos y Votaciones</a></li>
                    <li><a href="">Acuerdos y Votaciones</a></li>
                    <li><a href="">Reuniones en general</a></li>
                    <li><a href="">Por comisión</a></li>
                    <li><a href="">Diario de Debates</a></li>
                    <li><a href="">Gaceta Parlamentaria</a></li>
                </ul>
            </nav>
           
        </div>
        <!-- FIN MENU RESPONSIVO --->
    
        <!-- MENU DESPLEGABLE --->
        <div id="scrolldown">
            <nav style="width:95%; margin-top:0px;">
                <a href=""><div style="float: left; display: block;"><img  src="../../assets/aparlamentarios/img/asuntos_parlamentarios.svg" class="logo"></div>
                </a>
                <div style="clear: both;"></div>
                <ul class="menu">
                    <li class="menu"><a href="pages/secretaria">Quiénes somos</a></li>
                    <li class="menu"><a>Legislatura y Órganos &#9662;</a>
                        <ul class="dropdown">
                            <li class="menu"><a href="">Diputadas/os</a></li>
                            <li><a href="">Por principio de elección</a></li>
                            <li><a href="">Directiva</a></li>
                            <li><a href="">Grupos Parlamentarios</a></li>
                            
                            <li class="menu"><a
                                    href="">Junta de Coordinación Política</a></li>
                            <li><a href="">Comisiones y Comités</a></li>
                        </ul>
                    </li>
    
                    <li class="menu"><a href="#">Trabajo Legislativo &#9662;</a>
                        <ul class="dropdown">
                          
                            <li class="menu"><a href="">Sesiones, orden del día, asistencia, acta y versión</a></li>
                            <li class="menu"><a href="">Iniciativas de ley o decreto</a></li>
                            <li class="menu"><a href="">Puntos de Acuerdo</a></li>
                            <li class="menu"><a href="">Minutas</a></li>
                            <li class="menu"><a href="">Decretos y Votaciones</a></li>
                            <li class="menu"><a href="">Acuerdos y Votaciones</a></li>
                           
                        </ul>
                    </li>
                    <li class="menu"><a href="#">Trabajo de comisiones &#9662;</a>
                        <ul class="dropdown">
                            <li><a href="">Reuniones en general</a></li>
                            <li><a href="">Por comisión</a></li>
                        </ul>
                    </li>
                    <li class="menu"><a href="#">Organos de Difusión &#9662;</a>
                        <ul class="dropdown">
                            <li><a href="">Diario de Debates</a></li>
                            <li><a href="">Gaceta Parlamentaria</a></li>
                        </ul>
                    </li>
   
                </ul>
            </nav>
        </div>
        <!-- FIN MENU DESPLEGABLE --->
    </header>
</div>
 
    <div id="section" style="background: url(../../assets/img/carrusel/img03.jpg)  top center no-repeat fixed;" >
        
        <div id="box_buscador_desk">
            <form method="get" action="">
                <input type="text" name="tema" class="desk">
                <button id="boton_buscador"><i class="fas fa-search"></i></button>
                <div style="clear: both"></div>
            </form>
        </div>

        <div id="box_buscador_movil">
            <form method="get" action="buscador">
                <input type="text" name="tema" placeholder="Ingresa una palabra..." class="movil">
                <button id="boton_buscador"><i class="fas fa-search"></i></button>
                <div style="clear: both"></div>
            </form>
        </div>
   
        <div style="width: 100%; padding: 0px; background: rgba(255,255,255,1.00);">
            <div style="width: 100%; max-width: 1110px; margin: auto; padding: 30px 0px;">
                <h1>Información de interés</h1>


                <a href="http://secretariadeasuntosparlamentarios.gob.mx/anteriores.html" target="_blank">
                    <div class="asuntos">Información de Legislaturas anteriores</div>
                </a>
                <a href="legislacion" target="_blank">
                    <div class="asuntos">Leyes vigentes</div>
                </a>
                <a href="http://www.bibliolex.gob.mx/" target="_blank">
                    <div class="asuntos">Biblioteca Legislativa<br>
                        “Dr.José María Luis Mora"</div>
                </a>
                <!--<a href="http://www.secretariadeasuntosparlamentarios.gob.mx/mainstream/Cronica/index.html" target="_blank"><div class="asuntos">Crónica Legislativa</div></a>-->
                <a href="http://www.secretariadeasuntosparlamentarios.gob.mx/cronista" target="_blank">
                    <div class="asuntos">Crónica legislativa</div>
                </a>
                <a href="https://legislacion.legislativoedomex.gob.mx/transparencia" target="_blank">
                    <div class="asuntos">Transparencia</div>
                </a>
                <a href="https://legislativoedomex.gob.mx" target="_blank">
                    <div class="asuntos">LXI Legislatura</div>
                </a>



                <div style="clear: both"></div>
               
            </div>
            <router-outlet/>
        </div>
        
        <div id="footer">

            <div style="float:left; width:95%; max-width:420px; margin:0px 5% 30px 0px;">
                <!--<img src="img/congreso_edomex_grayscale.svg" style="height: 85px;">-->
                <h2 class="footer">Secretaría de Asuntos Parlamentarios</h2>
                <p>Av. Lerdo Pte. No. 222, Col. Centro<br>Toluca de Lerdo, Estado de México<br>&copy; </p>
            </div>

            <div id="socialbox">
                <p>Síguenos en redes sociales:</p>
                <div class="social"><a href="http://fb.me/legismex" target="_blank" title="Facebook" class="social"><i class="fab fa-facebook"></i></a></div>
                <div class="social"><a href="http://twitter.com/legismex" target="_blank" title="Twitter" class="social"><i class="fab fa-twitter"></i></a></div>
                <div class="social"><a href="http://instagram.com/legismex" target="_blank" title="Instagram" class="social"><i class="fab fa-instagram"></i></a></div>
                <div class="social"><a href="https://www.youtube.com/channel/UC9kqSF0ZBUhSRp4cyWL_oAA" target="_blank" title="YouTube" class="social"><i class="fab fa-youtube"></i></a></div>
            </div>

            <div style="clear:both"></div>
        </div>

    </div>
    
</body>
</html>
