<h1>Diputadas/os de Mayoría Relativa </h1>
    <h2>LXI Legislatura</h2>
    @for(distrito of distritosService.distritos(); track distrito.id){
       
        @if(!bandera && distrito.distrito.distrito == "Plurinominal"){
            <h1 >Diputadas/os de Representación Proporcional</h1>
            {{ setBandera() }}
        }
        <div style="font-family: 'Arimo', sans-serif;font-weight: 300;">

            <div style="text-align: center; width: 140px; float: left;">
                <div
                    style="background: linear-gradient( 90deg, rgb( {{distrito.partido.rgb}} ,1.00) 0%, rgb({{ distrito.partido.rgb2 }},1.00) 100% ); height: 130px; width: 130px; border-radius: 50%; padding: 5px; float: left;">
                    <div style="background: rgba(255,255,255); border-radius: 50%; height: 130px; width: 130px;">
                        <div
                            style="background: url(https://legislacion.legislativoedomex.gob.mx/storage/) no-repeat; background-size: 130px; width: 130px; height: 130px; float: left; border-radius:50%;"></div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <img src="https://legislacion.legislativoedomex.gob.mx/{{ distrito.partido.emblema }}"
                     style="height: 45px; margin: 5px auto;">
            </div>

            <div
                style="float: left; font-size: 1.2em; font-weight: 800; font-family: font-family: 'Arimo', sans-serif; color: rgba(57,57,59,1.00); text-align: left; padding: 2px; margin: 35px 25px;">
                {{ distrito.diputado.apaterno }}
                {{ distrito.diputado.amaterno }}
                {{ distrito.diputado.nombres}} 
                <br>
                <span style="color: rgb(150,0,72); font-size: 0.8em; font-weight: 300;">
                    @if(distrito.distrito.distrito == "Plurinominal"){
                        Representación Proporcional
                    }@else{
                        Distrito {{distrito.distrito.distrito}} - {{distrito.distrito.municipio?.cabecera}}
                    }
                </span>
                <br>
                <span style="color: rgb(137,138,141); font-size: 0.8em; font-weight: 300;">
                    {{ distrito.partido.nombre }}
                    ({{ distrito.partido.siglas}})
                </span><br>
                @if(distrito.diputado.user.email){
                    <span style="color: rgb(137,138,141); font-size: 0.8em; font-style: italic; font-weight: 300;">
                        <i class="fas fa-envelope-open-text"></i>
                        {{distrito.diputado.user.email}}
                    </span><br>
                }
                   
                @if(distrito.diputado.facebook){
                    <a href="http://facebook.com/{{distrito.diputado.facebook}}" target="_blank"
                        style="text-decoration: none; color: rgba(150,0,72,1.00); font-size: 0.8em; font-weight: 300;"><i
                            class="fab fa-facebook"></i> {{distrito.diputado.facebook}}</a><br>
                }
                    
                @if(distrito.diputado.twitter){
                    <a href="http://twitter.com/{{distrito.diputado.twitter}}" target="_blank"
                        style="text-decoration: none; color: rgba(150,0,72,1.00); font-size: 0.8em; font-weight: 300;"><i
                            class="fab fa-twitter"></i>  {{distrito.diputado.twitter}}</a><br>
                }
                    
                @if(distrito.diputado.instagram){
                    <a href="http://instagram.com/{{distrito.diputado.instagram}}" target="_blank"
                        style="text-decoration: none; color: rgba(150,0,72,1.00); font-size: 0.8em; font-weight: 300;"><i
                            class="fab fa-instagram"></i>{{ distrito.diputado.instagram }}</a><br>
                }
                <div style="height: 20px;"></div>
            </div>
            <div style="clear: both; height: 20px;"></div>
           
        </div>
    }